# General
APP_ORIGIN=
SECRET_KEY=

# OpenAI
OPENAI_API_KEY=
OPENAI_LLM_NAME=

# Inference Config
TEMPERATURE=
TOKENS=

# Postgres
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_DB=
POSTGRES_PORT=

# Embeddings
VECTOR_DIMENSION=

# Qdrant
URL_QDRANT=
COLLECTION_NAME=
DENSE_MODEL=
SPARSE_MODEL=
DENSE_PREFETCH_LIMIT=
SPARSE_PREFETCH_LIMIT=
LIMIT=
# RERANK_LIMIT=

# MinIO
MINIO_ENDPOINT=
MINIO_EXTERNAL_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
BUCKET_NAME=

# Rag
CHUNK_STRATEGY=
DEFAULT_CHUNK_SIZE=
MAX_CHUNK_SIZE=
DEFAULT_CHUNK_OVERLAP=
SIMILARITY_THRESHOLD=

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_DB=
REDIS_BROKER_DB=
